extends ../layouts/master



block content
  .about-page 
    .container
      h3.about-page__title 
        |Выберите рабочее пространство, в котором хотите работать
      .row.mt-5
        .col
          h4 
            |Ваши рабочие пространства 
          .mt-4 
            .list-group
              a.list-group-item.list-group-item-action(href="#")
                |Workspace 1
            
        .col
          h4 
            |Приглашенные рабочие пространства
          .mt-4 
            .list-group
              a.list-group-item.list-group-item-action(href="#")
                |Workspace 1