extends ../layouts/master

block header 


block content
  .index-page 
    .index-page__container 
      h1
        |Добро пожаловать, чтобы продолжить работу, пожалуйста авторизуйтесь
      .index-page__buttons 
        a.index-page__button(href="#") 
          +google-svg.index-page__svg