
mixin task-modal
  .modal#taskModal(aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      form.modal-content(action="/" data-parsley-validate data-type='js-form')
        .modal-header
          h4
            |Добавить задачу
          button.btn-close(data-bs-dismiss='modal' aria-label="Close" type='button')
        .modal-body
          .mb-3 
            input.form-control(type = 'text' placeholder = 'Название' required='true' data-type='get-field' data-uf='name')
          .mb-3 
            p.h6
              |Ожидаемое время выполнения
            input.form-control(type = 'text' data-type='get-field' data-uf='expectedTime' data-date-picker='')
          .mb-3 
            -
              var options = [
                {value: 'going', text: 'В процессе'},
                {value: 'planned', text: 'Запланировано'},
              ]
            +select(options = options placeholder='Выберете статус')
          .mb-3
            +textarea(placeholder = 'Описание' data-type='get-field' data-uf='description')
          .ps-4.mb-3
            .col(data-add-container='')
              .form__item(data-add-item='')
                input.form-control.form-control-sm(type='text' placeholder='Название подзадачи' data-type='get-field' data-uf='subtasks')
            .mt-2
              button.btn.btn-sm.btn-primary(type='button' data-add-button='')
                |Добавить подзадачу
          .qwe
            input.form-control(type="file" id="formFile" data-form-file='' multiple)
        .modal-footer
          button.btn.btn-primary
            |Добавить

mixin user-modal 
  .modal#userModal
    .modal-dialog.modal-dialog-centered
      form.modal-content(action="/" data-parsley-validate data-add-user='')
        .modal-header
          h4
            |Добавить пользователя
          button.btn-close(data-bs-dismiss='modal' aria-label="Close" type='button')
        .modal-body
          .mb-3
            input.form-control(type = 'email' placeholder = 'Email пользователя' required='true' data-uf='email')
          .mb-3
            .mb-2 
              h6 
                |Роль пользователя
            -
              var options = [
                {value: 'OBSERVER', text: 'Наблюдатель'},
                {value: 'EXECUTOR', text: 'Исполнитель'},
                {value: 'FULL_AUTHORITIES', text: 'Полные права'},
              ]
            +select(options = options)
        .modal-footer
          .row.row-cols-auto 
            .col
              button.btn.btn-primary
                |Добавить
            .col 
              button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#workspaceModal")
                |Вернуться к настройкам


mixin workspace-modal 
  .modal#workspaceModal(aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg
      .modal-content(action="/")
        .modal-header
          h4
            |Название воркспейса
          button.btn-close(data-bs-dismiss='modal' aria-label="Close" type='button')
        .modal-body
          .mb-4 
            h5 
              |Список участников
          ul.list-group(data-roles-container='')
            li.list-group-item(data-entity='role' data-entity-id='1')
              .row.row-cols-auto.justify-content-between.align-items-center
                .col
                  .row.row-cols-auto.align-items-center
                    .col
                      .user 
                        img.user__img(src="assets/images/qwe.jpg", alt="")
                    .col
                      p.h6 
                        |Nikita
                      p.h6 
                        |email
                .col 
                  p.h6 
                    |ROLE
                .col
                  .btn.btn-primary.btn-sm(data-delete-entity='')
                    |Удалить
        .modal-footer
          .row.row-cols-auto 
            .col
              button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#userModal")
                |Добавить пользователя
            .col
              button.btn.btn-primary(data-delete-workspace='')
                |Удалить рабочую область

