mixin select
  .select-wrapper 
    .select.select--small
      select.select__select(data-select-placeholder=attributes.placeholder style='width: 100%' data-select='')
        if (attributes.placeholder)
          option(value='' disabled selected)
        each item in attributes.options
          option(value=item.value)
            |#{item.text} 